networks/eos/data/*
networks/eos/contracts/*
networks/eos/testing/
networks/eos/scripts/ignore

networks/ore/data/*
#networks/ore/contracts/*
networks/ore/testing/
networks/ore/scripts/ignore

networks/steem/data/*

node_modules/*
