networks/eos/data/*
networks/eos/data2/*
networks/eos/contracts/*
networks/eos/testing/
networks/eos/scripts/ignore

networks/ux/data/*
networks/ux/contracts/*
networks/ux/testing/
networks/ux/scripts/ignore

networks/worbli/data/*
networks/worbli/contracts/*
networks/worbli/testing/
networks/worbli/scripts/ignore

networks/ore/data/*
#networks/ore/contracts/*
networks/ore/testing/
networks/ore/scripts/ignore

networks/steem/data/*

node_modules/*
